body {
    padding-top: 80px;
    font-family: monospace;
    margin: 0;
    background-attachment: fixed;
    background-color: #fff;
  }



main {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 20px;
}
  
  header {
    background-color: #83f28f;
    color: #000;
    text-align: center;
    position: fixed;
    font-size: 30px;
    padding: 15px;
    top: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-color: #000;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
  }
  
  main {
    padding: 20px;
  }

  

  .balance {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #000;
  }
  .spendReport{
    padding: 10px;
    margin-left: 20px;
  }



  .spendReport {
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
  
  }

  .spendCatagory {
    color: black;
    display: grid;
    
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
  }
  .balName{
    white-space: no-wrap; 
    text-overflow: ellipsis;
    overflow:hidden;
  }

  .balAmount {
    text-align: right;
  }

  .increase {
    background-color: #83f28f;
  }
  .decrease {
background-color: #fa8072;
  }