html, body .login_page { 
    padding: 0%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E0E0E0;}


h1 {
    text-align: center;
    font-size: 60px;
}
.form input{
    text-align: center;
}
.form label {
    text-align: center;
}
header {
    background-color: #83f28f;
    color: #000;
    text-align: center;
    position: fixed;
    font-size: 30px;
    padding: 15px;
    top: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-color: #000;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
  }

