*{
  margin:0;
}
nav {
  display: flex;
  margin: 0;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  background: #282828;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0, 0.06);

  

}
.logo_link {
  display: flex;
  align-items: center;
  padding: 10px;

}
.balance{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #282828;
  align-items: center;
}

.logo_link img {
  height: auto;
  width: auto;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
text-decoration: none;
font-size: 1.3rem;
font-weight: 1000;
color: #ffffff;
transition: 0.3s ease-in-out;
font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

#navbar li a:hover{
color: #83f28f;
}

